/* ------- BASIC SECTIONS ------- */

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  padding: 0px 30px;
}

h2 {
  display: inline;
}

/* ------- NAV ------- */

nav {
  padding-top: 30px;
  margin-bottom: 70px;
}

.navTop {
  display: flex;
  justify-content: space-between;
}

.logo {
  transition-duration: 0.4s;
}

.logo:hover {
  filter: grayscale(100%);
  transition-duration: 0.4s;
}

.register {
  float: right;
  font-weight: bold;
  color: #0065fc;
  text-decoration: none;
  margin-top: 10px;
  transition-duration: 0.4s;
}

.register:hover {
  color: black;
  transition-duration: 0.4s;
}

.linkBlock {
  display: flex;
  margin: 0px -30px -30px -30px;
}

.linkBlock > a {
  text-decoration: none;
  display: inline-block;
  width: 50%;
  padding: 20px 30px;
  border-bottom: solid 3px #f2f2f2;
  color: black;
  text-align: center;
  transition-duration: 0.4s;
}

.linkBlock > a:hover {
  border-bottom: solid 3px #0065fc;
  color: #0065fc;
  transition-duration: 0.4s;
}

/* ------- SEARCH BAR ------- */

form {
  color: black;
  padding: 10px 0px;
  width: 100%;
}

.searchBar {
  margin: 30px 0px;
}

.searchIcone {
  border: none;
  padding: 18px 18px 18px 22px;
  font-size: 18px;
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: -4px;
}

.searchText {
  border: 2px solid #f2f2f2;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  outline: none;
}

.searchText::placeholder {
  color: black;
  
}

.searchBtn {
  border-radius: 15px;
  background-color: #0065fc;
  color: white;
  border: none;
  padding: 18px;
  font-size: 18px;
  margin-left: -18px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.searchBtn:hover {
  border-radius: 5px;
  background-color: #0065fc;
  color: white;
  border: none;
  padding: 18px;
  font-size: 18px;
  margin-left: -18px;
  cursor: pointer;
  transition-duration: 0.4s;
}

/* ------- FILTER ------- */

.filterList {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 10px 0px;
  row-gap: 15px;
  column-gap: 15px;
}

.filterCard {
  display: block;
  border: 2px solid #d1d0d0c7;
  border-left: none;
  padding: 16px 18px 16px 0px;
  border-radius: 70px;
  transition-duration: 0.2s;
}

.filterCard:hover {
  display: block;
  border: 2px solid #deebff;
  background-color: #deebff;
  border-left: none;
  padding: 16px 18px 16px 0px;
  border-radius: 70px;
  transition-duration: 0.2s;
}

.filterIcone {
  padding: 18px;
  margin-left: -1px;
  font-size: 18px;
  background-color: #deebff;
  border-radius: 50px;
  color: #0065fc;
}

.filterText {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 10px;
  transition-duration: 0.2s;
}

.filterText:hover {
  color: #0065fc;
}

/* ------- POPULAR ------- */

#popularBlock {
  background-color: #f2f2f2;
  padding: 30px;
}

.popularIcone {
  float: right;
  font-size: 24px;
}

.popularList {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
}

.popularCard {
  display: flex;
  padding: 4px;
  border-radius: 20px;
  background-color: white;
  width: 100%;
  height: auto;
}

.popularCard > img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
  height: 120px;
  width: 120px;
}

.popularCardText {
  margin: 10px 20px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.popularCardText > div > p {
  margin: 0px;
}

.popularTitle {
  font-weight: bold;
  padding-bottom: 5px;
}

/* ------- HOUSING ------- */

#housingBlock {
  border-radius: 20px;
  padding: 30px;
}

.housingList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  padding: 20px 0px;
}

.housingList > a {
  display: inline-block;
}

.housingCard {
  padding: 4px;
  border-radius: 20px;
  background-color: white;
  width: 100%;
}

.housingCard > img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 120px;
  width: 100%;
}

.housingCardText {
  padding: 20px 10px 10px 10px;
}

.housingCardText > * {
  display: block;
  margin-top: -15px;
}

.housingTitle {
  font-weight: bold;
}

/* ------- ACTIVITY ------- */

#activityBlock {
  padding: 0px 30px;
}

.activityList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  padding: 20px 0px;
}

.activityCard {
  border-radius: 20px;
  background-color: white;
  width: 100%;
}

.activityCard > img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.activityCardText {
  padding: 0px 20px 20px 20px;
  font-weight: bold;
}

/* ------- OTHERS ------- */

.filters {
  width: auto;
  background-color: gold;
  opacity: 0.4;
}

.infoIcone {
  margin-right: 10px;
  border-radius: 500px;
  color: #0065fc;
}

.showMore,
.price {
  font-weight: bold;
}

.ratingTrue {
  display: inline;
  font-size: 12px;
  color: blue;
}

.ratingFalse {
  display: inline;
  font-size: 12px;
  color: lightgrey;
}

.linkDiv {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  padding-right: 10px;
}

.activityBlock > .activityList > a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  margin-right: -20px;
}

.shadow {
  box-shadow: 0px 4px 10px 1px #e4e4e4c7;
  transition-duration: 0.4s;
}

.shadow:hover {
  box-shadow: 0px 0px 7px 0px #deebff;
  transition-duration: 0.4s;
}

/* ------- FOOTER ------- */

footer {
  background-color: #f2f2f2;
  justify-content: space-between;
  padding: 40px 40px 20px 40px;
}

footer > div {
  margin-bottom: 40px;
}

.footerTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

footer > div > ul {
  margin-left: -40px;
}

footer > div > ul > li > a {
  text-decoration: none;
  line-height: 25px;
  color: black;
  transition-duration: 0.2s;
}

footer > div > ul > li > a:hover {
  text-decoration: none;
  line-height: 25px;
  color: grey;
}

footer > div > ul > li {
  text-decoration: none;
  list-style: none;
}
