/* 
  SECTIONS NAVIGATION : CTRL+F "=="
  RSPONSIVE'S SECTIONS NAVIGATION : CTRL+F "++"
  BREAK POINTS : 500px/625px/710px/750px/920px/1200px/1500px
 */

/* ------- == BASIC SECTIONS ------- */

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

header > div {
  padding: 0px 30px;
}

h2 {
  margin: 0px;
}

/* ------- == NAV BAR ------- */

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 140px;
}

.logo {
  transition-duration: 0.4s;
  grid-column: 1;
  grid-row: 1;
  margin: 30px 0px 0px 30px;
}

.logo:hover {
  filter: grayscale(100%);
  transition-duration: 0.4s;
}

.register {
  font-weight: bold;
  color: #0065fc;
  text-decoration: none;
  margin: 45px 30px 0px 20px;
  transition-duration: 0.4s;
  grid-column: 4;
  grid-row: 1;
}

.register:hover {
  color: black;
  transition-duration: 0.4s;
}

.linkBlock {
  display: flex;
  grid-column: 1/5;
  justify-content: flex-end;
  grid-row: 2;
  width: 100%;
  margin-top: 20px;
}

.linkBlock > a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 40px;
  border-bottom: solid 3px #f2f2f2;
  color: black;
  text-align: center;
  transition-duration: 0.4s;
}

.linkBlock > a:hover {
  border-bottom: solid 3px #0065fc;
  color: #0065fc;
  transition-duration: 0.4s;
}

/* ------- == SEARCH BAR ------- */

form {
  color: black;
}

.searchBar {
  margin-bottom: 30px;
}

.searchIcone {
  border: none;
  padding: 18px 18px 18px 22px;
  font-size: 18px;
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: -4px;
}

.searchText {
  border: 2px solid #f2f2f2;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  outline: none;
  width: 200px;
}

.searchText::placeholder {
  color: black;
}

.searchBtn {
  border-radius: 15px;
  background-color: #0065fc;
  color: white;
  border: none;
  padding: 18px;
  font-size: 18px;
  margin-left: -18px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.searchBtn:hover {
  border-radius: 5px;
  transition-duration: 0.4s;
}

/* ------- == FILTER ------- */

.filterList {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 10px 0px;
  row-gap: 15px;
  column-gap: 10px;
}

.filterCard {
  border: 2px solid #d1d0d0c7;
  border-radius: 70px;
  transition-duration: 0.2s;
  height: 50px;
  display: flex;
}

.filterCard:hover {
  border: 2px solid transparent;
  background-color: #deebff;
}

.filterIcone {
  background-color: #deebff;
  border-radius: 70px;
  height: 50px;
  width: 50px;
  display: flex;
  position: relative;
  left: -2px;
  top: -2px;
}

.filterIcone > p {
  margin: auto;
  font-size: 18px;
  color: #0065fc;
}

.filterText {
  display: flex;
}

.filterText > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 13px 15px 0px 10px;
  height: 100%;
  width: 100%;
  transition-duration: 0.2s;
}

.filterText > a:hover {
  color: #0065fc;
}

/* ------- == POPULAR ------- */

#popularBlock {
  background-color: #f2f2f2;
  padding: 40px 30px;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.popularIcone {
  font-size: 24px;
  margin: 0px;
}

.popularList {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
}

.popularCard {
  display: flex;
  padding: 4px;
  border-radius: 20px;
  background-color: white;
  height: auto;
  width: 100%;
}

.popularCard > img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
  height: 120px;
  width: 120px;
}

.popularCardText {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
}

.popularCardText p {
  margin: 0px;
}

.popularTitle {
  font-weight: bold;
  padding-bottom: 5px;
}

/* ------- == HOUSING ------- */

#housingBlock {
  border-radius: 20px;
  padding: 40px 30px 0px 30px;
}

.housingList {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  row-gap: 15px;
}

.housingList > a {
  display: inline-block;
}

.housingCard {
  padding: 4px;
  border-radius: 20px;
  background-color: white;
  width: 100%;
}

.housingCard > img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 120px;
  width: 100%;
}

.housingCardText {
  padding: 20px 10px 10px 10px;
}

.housingCardText > * {
  display: block;
  margin-top: -12px;
  font-size: 14px;
}

.housingTitle {
  font-weight: bold;
}

/* ------- == ACTIVITY ------- */

#activityBlock {
  padding: 40px 30px 30px 30px;
}

.activityList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-top: 30px;
}

.doubleCard {
  display: contents;
}

.activityCard {
  border-radius: 20px;
  background-color: white;
  width: 100%;
}

.activityCard > img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.activityCardText {
  padding: 0px 20px 20px 20px;
  font-weight: bold;
  font-size: 14px;
}

/* ------- == OTHERS ------- */

.filters {
  width: auto;
  background-color: gold;
  opacity: 0.4;
}

.infoIcone {
  margin-right: 10px;
  border-radius: 500px;
  color: #0065fc;
}

.maxDevice {
  display: none;
}

.showMore {
  font-size: 18px;
  margin-bottom: 0px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition-duration: 0.2s;
}

.showMore:hover {
  color: #0065fc;
  transition-duration: 0.2s;
}

.price {
  font-weight: bold;
}

.ratingTrue {
  display: inline;
  font-size: 12px;
  color: blue;
}

.ratingFalse {
  display: inline;
  font-size: 12px;
  color: lightgrey;
}

.linkDiv {
  height: auto;
  width: 100%;
  text-decoration: none;
  color: black;
}

.activityBlock > .activityList > a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  margin-right: -20px;
}

.shadow {
  box-shadow: 0px 4px 10px 1px #e4e4e4c7;
  transition-duration: 0.4s;
}

.shadow:hover {
  box-shadow: 0px 0px 7px 0px #deebff;
  transition-duration: 0.4s;
}

/* ------- == FOOTER ------- */

footer {
  background-color: #f2f2f2;
  justify-content: space-between;
  padding: 40px 40px 20px 40px;
}

.footerBlock > ul {
  margin-bottom: 30px;
}

.footerTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.footerBlock > ul > li {
  text-decoration: none;
  list-style: none;
  margin-left: -40px;
}

.footerBlock > ul > li > a {
  text-decoration: none;
  line-height: 25px;
  color: black;
  transition-duration: 0.2s;
}

.footerBlock > ul > li > a:hover {
  text-decoration: none;
  line-height: 25px;
  color: grey;
}

/* ------- RESPONSIVES ------- */

@media screen and (min-width: 500px) {

  /* ------- ++ POPULAR 500px ------- */

  .popularList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

  .popularList > * {
    display: flex;
  }

  .popularCard {
    display: block;
  }

  .popularCard > img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    object-fit: cover;
    height: 120px;
    width: 100%;
  }

  .popularCardText {
    padding: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }

  .popularCardText > div > p {
    margin: 0px;
    font-size: 14px;
  }

  .popularTitle {
    font-weight: bold;
    padding-bottom: 5px;
    height: 40px;
  }

  /* ------- ++ HOUSING 500px ------- */

  .housingList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

  /* ------- ++ ACTIVITY 500px ------- */

  .activityList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 10px;
  }

  .activityCardText {
    height: auto;
  }
}

@media screen and (min-width: 625px) {

  /* ------- ++ NAV BAR 625px ------- */

  nav {
    grid-template-rows: 1fr;
    height: auto;  
  }

  .linkBlock {
    grid-column: 3/4;
    grid-row: 1;
    margin: 0px;
    padding: 0px;
  }

  .linkBlock > a {
    width: auto;
    border-bottom: none;
    border-top: solid 3px #fff;
    padding: 42px 20px 0px 20px;
  }

  .linkBlock > a:hover {
    border-top: solid 3px #0065fc;
    color: #0065fc;
    border-bottom: none;
    transition-duration: 0.4s;
  }

  /* ------- ++ SEARCH BAR 625px ------- */

  .searchBtn {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
  }

  .minDevice {
    display: none;
  }

  .maxDevice {
    display:inline
  }

  /* ------- ++ ACTIVITY 625px ------- */

  .activityCardText {
    height: auto;
  }

}

@media screen and (min-width: 710px) {

  /* ------- ++ POPULAR 710px ------- */

  .popularTitle {
    height: auto;
  }
}

@media screen and (min-width: 750px){

  /* ------- ++ POPULAR 750px ------- */

  .popularList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

  .popularTitle {
    height: 40px;
  }

  /* ------- ++ HOUSING 750px ------- */

  .housingList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

  /* ------- ++ ACTIVITY 750px ------- */

  .activityList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 10px;
  }

  .activityCardText {
    height: auto;
  }

   /* ------- ++ FOOTER 750px ------- */

   .footerBlock {
    display: flex;
    max-width: 900px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 920px) {

   /* ------- ++ FILTER 920px ------- */

   .filterBlock {
    display: flex;
  }

  .filterBlock > h3 {
    margin: 15px 15px 0px 0px;
  }

     /* ------- ++ FOOTER 920px ------- */

  .footerBlock ul {
    min-width: 250px;
  }
}

@media screen and (min-width: 1200px) {

  .containerFlex {
    padding: 20px 30px;
    display: grid;
    grid-template-columns:  2fr 1fr;
    column-gap: 30px;
    width: 100%;
  }

  /* ------- ++ HOUSING 1200px ------- */

  #housingBlock {
    order: 1;
    background-color: #f2f2f2;
  }

  .housingCard > img {
    height: 100px;
  }

  /* ------- ++ POPULAR 1200px ------- */

  #popularBlock {
    order: 2;
    border-radius: 15px;
  }

  .popularList {
    display: flex;
    row-gap: 30px;
  }

  .popularList > a {
    width: 100%;
    padding: 0px;
  }

  .popularCard {
    display: flex;
  }

  .popularCard > img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    object-fit: cover;
    height: 120px;
    width: 120px;
  }

  .popularTitle {
    height: auto;
  }

  /* ------- ++ ACTIVITY 1200px ------- */

  #activityBlock {
    order: 3;
    padding-top: 30px;
  }

  .activityList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .twoRows > img {
    height: 370px;
  }

  .doubleCard {
    display: flex;
    flex-direction: column;
  }

   /* ------- ++ FOOTER 1200px ------- */

   .footerBlock ul {
    min-width: 380px;
  }
}

@media screen and (min-width : 1500px){

  .maxWidth {
    max-width: 1500px;
    margin: auto;
  }

  /* ------- ++ FOOTER 1500px ------- */

  .footerBlock {
    width: auto;
    justify-content: center;
  }

  .footerBlock > ul {
    min-width: fit-content;
    margin: 0px 30px 40px 40px;
  }
  
  li {
    display:list-item;
  }
}
